<ion-view title="Estudiante Panel" hide-back-button="true" cache-view="false" nav-transition="none" id="page4">
    <ion-content padding="true" id="body1" style="float:left;padding: 20px;padding-top: 100px;overflow-y: hidden;" >

        <div class="bar-positive" style="position: absolute;left: -20px;top:-100px;width: 120%;padding:5px;border-color:#0c60ee;background-color:#387ef5;background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 80%);">
          <img ng-click="go_panel()" style="width: 30px;float: left;padding-top:5px; " src="http://phomework.com.co/www/image/phome-ico.png">
          <div ng-click="go_cerrar()" style="width: 30px;float: right; padding:8px;padding-right:100px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-log-out"></i></div>
          <div ng-click="go_fqs()" style="width: 30px;float: right; padding:8px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-help-circled"></i></div>
          <div ng-click="go_misnotificaciones()" style="width: 30px;float: right; padding:8px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-android-notifications"></i></div>
          <div ng-click="go_miperfil()" style="width: 30px;float: right; padding:8px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-person"></i></div>
        </div>
        <style>
          .bar-positive{
            border: 0px;
          }
        </style>

        <a ng-click="go_mistareas()" style="padding:30px;">
            <img width="120" style="margin-left: -35px;" src="http://phomework.com.co/www/image/tarea.png">
        </a>    
        <a ng-click="go_mistokens()" style="padding:20px;">
            <img width="120" src="http://phomework.com.co/www/image/monedas.png">
        </a>
        <a ng-click="go_subirtarea()" style="padding:20px;">
            <img width="120" src="http://phomework.com.co/www/image/subir.png">
        </a>
        <a ng-click="go_chatsoporte()" style="padding:20px;">
            <img width="120" src="http://phomework.com.co/www/image/pregunta.png">
        </a>
  
  
      <ion-item style="background: #207ce5;border:0px;width: 110%;position:fixed;left: -15px;bottom: 0px;">
          <div id="contact" class="jumbotro text-center">
              <h6 style="color:white;">Copyright wakusoft@2017</h6>
          </div>
      </ion-item>
  
  
  <style>
  #body1{
    background-image: url('http://phomework.com.co/www/image/fondo5.jpg');
    filter: blur(0px);
  }
  #body1:before {
    content: "";
    position: absolute;
    background: url(http://phomework.com.co/www/image/fondo5.jpg);
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 19%; width: 25%; /* Using Glen Maddern's trick /via @mente */
  
    /* don't forget to use the prefixes you need */
    transform: scale(5);
    transform-origin: top left;
    filter: blur(2px);
  }
  h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}
  .item-input{
    background: white;
    opacity: 0.7;
  }
  </style>
  
    </ion-content>
  </ion-view>