<ion-view title="Login" hide-back-button="true" cache-view="false" nav-transition="none" id="page4">
    <ion-nav-bar class="bar bar-header bar-positive"></ion-nav-bar>
    <!--ion-nav-title>
      <img width="40" src="http://phomework.com.co/www/image/phome-ico.png">
    </ion-nav-title-->
  <ion-content padding="true" id="body1">


    <form id="registerEstu">
        <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
        <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
        <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
        <center><img src="http://phomework.com.co/www/image/phome-ico.png">
        <p style="font-family: 'Kaushan Script', cursive;color:#207ce5;font-size:36px;"> Phomework</p></center>
        <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>

      <label class="item item-input" id="nuevoReclamo13-input27">
        <span class="input-label">
          <h3>Correo</h3>
        </span>
        <input type="text" placeholder="ej.(admin@admin.com)" ng-model="form.correo">
      </label>

      <label class="item item-input" id="nuevoReclamo13-input27">
        <span class="input-label">
          <h3>Clave</h3>
        </span>
        <input type="password" placeholder="***" ng-model="form.clave">
      </label>
      

      <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
      <ion-item ng-click="login()" style="background:#e73827;border:1px solid #e73827;width: 100%;">
        <div class="panel-body" style="text-align: center;"><h2 style="color:white">Entrar</h2></div>
      </ion-item>

      <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
      <ion-item ng-click="olvido()" style="background:#207ce5;border:1px solid #207ce5;width: 100%;">
        <div class="panel-body" style="text-align: center;"><h2 style="color:white">Recuperar contraseña</h2></div>
      </ion-item>
    </form>
    <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
    <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
    <ion-item style="background:transparent;border:0px;width: 100%;"></ion-item>
    


<style>
#body1{
  background-image: url('img/fondo5.jpg');
  filter: blur(0px);
}
h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}

.item-input{
  background: white;
  opacity: 0.7;
}

</style>

  </ion-content>
  <div class="bar bar-footer bar-positive">
    <div class="title" style="font-family: 'Kavivanar', cursive;">Estás en Phomework</div>
  </div>
</ion-view>