<ion-view title="Estudiante panel" hide-back-button="true" cache-view="false" nav-transition="none" id="page4">
    <ion-nav-bar class="bar bar-header bar-positive"></ion-nav-bar>
    <!--ion-nav-title>
      <img width="40" src="http://phomework.com.co/www/image/phome-ico.png">
    </ion-nav-title-->
  <ion-content padding="true" id="body1">


    


<style>
#body1{
  background-image: url('http://phomework.com.co/www/image/fondo5.jpg');
  filter: blur(0px);
}

.item-input{
  background: white;
  opacity: 0.7;
}
</style>

  </ion-content>
  <div class="bar bar-footer bar-positive">
    <div class="title" style="font-family: 'Kavivanar', cursive;">Estás en Phomework</div>
    </div>
</ion-view>