<ion-view title="Notificaciones" hide-back-button="true" cache-view="false" nav-transition="none" id="page4">
    <ion-nav-bar class="bar bar-header bar-positive"></ion-nav-bar>
    <!--ion-nav-title>
      <img width="40" src="http://phomework.com.co/www/image/phome-ico.png">
    </ion-nav-title-->
    <ion-content padding="true" id="body1" style="float:left;padding: 20px;padding-top: 100px;overflow-y: hidden;" >

      <div class="bar-positive" style="position: absolute;left: -20px;top:-100px;width: 120%;padding:5px;border-color:#0c60ee;background-color:#387ef5;background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 80%);">
        <img ng-click="go_panel()" style="width: 30px;float: left;padding-top:5px; " src="http://phomework.com.co/www/image/phome-ico.png">
        <div ng-click="go_cerrar()" style="width: 30px;float: right; padding:8px;padding-right:100px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-log-out"></i></div>
        <div ng-click="go_fqs()" style="width: 30px;float: right; padding:8px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-help-circled"></i></div>
        <div ng-click="go_misnotificaciones()" style="width: 30px;float: right; padding:8px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-android-notifications"></i></div>
        <div ng-click="go_miperfil()" style="width: 30px;float: right; padding:8px;font-size:25px;color:white;opacity: 0.5;"><i class="icon ion-person"></i></div>
      </div>
        <style>
          .bar-positive{
            border: 0px;
          }
        </style>

        <h1>Notificaciones</h1><br><br><br>

        <ion-list ng-repeat="notificacion in notificaciones track by $index">
            <div style="background: white;opacity: 0.7;width: 100%;padding: 20px;">
                <h4>{{ notificacion.titulo }}</h4>
                <div >{{ notificacion.texto }}</div>
            </div>
            <ion-item style="background: transparent;opacity: 0.7;width: 100%;height: 5px;border: 0px;"></ion-item>
        </ion-list>
  
  
  <style>
  #body1{
    background-image: url('img/fondo5.jpg');
    filter: blur(0px);
  }
  
  .item-input{
    background: white;
    opacity: 0.7;
  }
  h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}
  </style>
  
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">Copyright wakusoft@2017</div>
      </div>
  </ion-view>