<ion-view title="Preguntas Frecuentes" id="page19">
  <ion-content padding="true" class="has-header">
    <ion-list id="preguntasFrecuentes-list10">

        <h4 style="color: #444444">¿Qué es phomework?</h4>
        <div  id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> 
        PhomeWork es una aplicación móvil con tecnología Android. Una vez descargada en tu dispositivo móvil (Smartphone o Tablet) 
        creas una cuenta y podrás interactuar con personas especializadas en todas las líneas del conocimiento académico.
        </div>
       
        <h4 style="color: #444444">¿Comó funciona?</h4>
        <div  id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> 
            La interacción está basada en la necesidad de un aprendiz por entender un tema o solucionar una tarea asignada por su institución educativa, 
            y la capacidad de un grupo de profesionales dispuestos a colaborarte con la solución y comprensión de dicha temática.<br><br>
            <ul>
              <li>• El usuario crea una cuenta y elige el área del conocimiento en la que requiere asesoría.</li><br>
              <li>• Luego un profesional se contacta con el usuario, a través de PhomeWork chat, para atender a sus requerimientos.</li><br>
              <li>• Para recargar tu cuenta en PhomeWork como estudiante, solo debes:</li><br><br>
              <li>• • Ir a la opción “recargar” que se encuentra en tu cuenta de PhomeWork y sigue las instrucciones.</li><br>
              <li>• • Tu tarea o asesoría estará disponible para que la descargues dentro de los términos que hayas acordado con el profesor y previo pago por el servicio.</li><br>
              <li>• • Los costos de tus trabajos los acuerdas con el profesor o asesor encargado de tu caso.</li><br>
              <li>• • Como el servicio es a través de dispositivos móviles los costos son muy bajos, todo depende de la complejidad y extensión de tu trabajo.</li><br>
              <li>• • Al final recibes tu asesoría o trabajo en el formato que desees. Puedes enviar texto, tablas, audios, links, etc.</li><br>
          </ul>
        </div>
        <h4 style="color: #444444">Cuéntanos tu experiencia</h4>
        <div  id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> 
            Brevemente comenta a phomework tus dificultades con la aplicación<br><br>
            <label class="item item-input" id="nuevoReclamo13-input27">
                <textarea type="text" ng-model="form.comentario" style="height: 100px;"> </textarea>
              </label>
        </div>
        <ion-item ng-click="save()" style="background:#e73827;border:1px solid #e73827;width: 100%;">
            <div class="panel-body" style="text-align: center;"><h2 style="color:white">Comentar</h2></div>
          </ion-item>
        
        
    </ion-list>
  </ion-content>
</ion-view>