<ion-view title="Record Audio" hide-back-button="true" cache-view="false" nav-transition="none" id="page11">
    <ion-content padding="true" class="has-header">
      
      <a ng-click="stopRecording()" id="escanear-button19" class="button button-positive button-block icon-left ion-checkmark">Stop</a>
      <a ng-click="playRecording()" id="escanear-button19" class="button button-positive button-block icon-left ion-checkmark">Play</a>
      <a ng-click="saveAudio()" id="escanear-button19" class="button button-positive button-block icon-left ion-checkmark">Save</a>
      <a ng-click="cancelAudio()" id="escanear-button19" class="button button-positive button-block icon-left ion-checkmark">Cancel</a>

    </ion-content>
  </ion-view>
